.search {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
    margin-bottom: 1rem;
    background: #2095f4;
  }
  
  
  input[type="submit"], select {
    padding: 5px;
    background-color: transparent;
    color: black;
    border: 0;
    width: 80px;
    margin-left: 5px;
    cursor: pointer;
    background:#fff;
  }
  
  
  input[type="submit"]:hover {
    background-color: #282c34;
    color: antiquewhite;
  }
  
  button{
    margin: 0 .6em;
  }
  
  .search > input[type="text"]{
    width: 40%;
    min-width: 170px;
  }