.nav{
    display: flex;
    justify-content: space-between;
    padding: 0 1.4rem;
}

.nav a{
    display:inline-block;
    color:#000;
    text-decoration:none;
}

.nav a:hover{
    color:#4DCFE0;
}

